<script>
    $(function () {
        $(".header-form-input").on("click", () => {
            $(".header-form-input").css({ "text-decoration": "underline", "text-decoration-color": "#FA5" })
        })
    })
</script>
<script>
    $(".thefront-show").on("click", (e) => {
        $(".thecard").toggleClass("card-rotate")
    })
</script>

</body>

</html>