<div class="footer-container">
    <div class="footer-inner">
        <p>Made by Zafer Ozcan</p>
        <ul class="social">
            <li><a href="#" class="icon"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icon"><i class="fa fa-twitter"></i></a></li>
            <li><a href="www.linkedin.com/in/zafer-ozcan
                " class="icon"> <i class="fab fa-linkedin-in"></i></a></li>


        </ul>
    </div>
</div>

<script>
    $(function () {
        $(".header-form-input").on("click", () => {
            $(".header-form-input").css({ "text-decoration": "underline", "text-decoration-color": "#FA5" })
        })
    })
</script>
<script>
    $(".thefront-show").on("click", (e) => {
        $(".thecard").toggleClass("card-rotate")
    })
</script>

<script>
    let time = new Date().getHours();
    if (time > 4.59 && time < 11.59) {
        $(".greeting").text("Good Morning")
    } else if (time > 11.59 && time < 16.59) {
        $(".greeting").text("Good Afternoon")
    } else {
        $(".greeting").text("Good Evening")
    }
</script>







</body>

</html>