<script>
    $(function () {
        $(".header-form-input").on("click", () => {
            $(".header-form-input").css({ "text-decoration": "underline", "text-decoration-color": "#FA5" })
        })
    })
</script>
<script>
    $(".subject-chip-box").on("click", function () {
        console.log("chiop got click");
    })

</script>
</body>

</html>