<script>
    $(function () {
        $(".header-form-input").on("click", () => {
            $(".header-form-input").css({ "text-decoration": "underline", "text-decoration-color": "#FA5" })
        })
    })
</script>
<script>
    $(".thefront-show").on("click", (e) => {
        $(".thecard").toggleClass("card-rotate")
    })
</script>

<script>
    let time = new Date().getHours();
    if (time > 5 && time < 12) {
        $(".greeting").text("Good Morning")
    } else if (time > 12 && time < 17) {
        $(".greeting").text("Good Afternoon")
    } else {
        $(".greeting").text("Good Evening")
    }
</script>

</body>

</html>