<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IqsBuckets</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=" + Math.trunc(Math.random()*999)>
    <!-- //reference from
    https://stackoverflow.com/questions/11658035/unable-to-change-favicon-with-express-js -->


</head>

<body>
    <h2>This part is header</h2>