<div id="subject-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-0 header head">
                <h1>{ Time For a Sharp Interview }</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-0 header phead">
                <p> <%=qCount %> <span>Front End</span>, <span>Back End,</span> <span>Coding and Data
                        Structure</span>
                    Questions</p>
            </div>
        </div>

        <div id="subject-box-inner" class="row subject-box-inner">
            <div class="col-md-4 col-sm-12">
                <form class="header-form" action="/subjects/front-end" method="GET">
                    <input class="header-form-input front-end-input" type="submit" value="Front End Questions">
                </form>
            </div>
            <div class="col-md-4  col-sm-12">
                <form class="header-form" action="/subjects/back-end" method="GET">
                    <input class="header-form-input back-end-input" type="submit" value="Back End Questions">
                </form>
            </div>
            <div class="col-md-4  col-sm-12">
                <form class="header-form" action="">
                    <input class="header-form-input problem-solving-input" type="submit"
                        value="Coding and Data Structure">
                </form>
            </div>
            <div style="border:1px solid gray;box-shadow: lightgray;border-radius: 5px;"
                class="col-md-12 col-sm-6 subject-chip-container">
                <!-- subj chip -->
                <% subjects.forEach(subj =>{ %>
                <form class="subject-chip-box" action="/questions/<%=subj.name %>" method="GET">
                    <input class="subject-chip" type="submit" value="<%= subj.name %> "><small
                        class="tech-count"></small>
                </form>
                <%})%>
                <!-- TOOLTIP -->
                <!-- referenced from  https://stackoverflow.com/questions/39362353/how-to-make-a-rich-tooltip-with-a-html-form-in-it -->
                <div style="z-index: 10;" id="tooltip-form" style="margin: 0;">
                    <p class="show-tooltip">+
                    </p>
                    <div class="tooltip-form">
                        <span class="close-tooltip">X</span>
                        <h3>Add More Technology</h3>
                        <p>Please fill the fields
                        </p>
                        <form style="display: flex;flex-direction: column;" action="/subjects" method="POST">
                            <input autocomplete="off" name="name" type="text" placeholder="tech name" />
                            <select name="area" id="new-area">
                                <option value="front-end">front-end</option>
                                <option value="back-end">back-end</option>
                                <option value="problem-solving">coding/data structure</option>
                            </select>
                            <input style="background-color: lightgray; border-radius: 5px;" type="submit" value="Add" />
                        </form>
                    </div>
                </div>
                <script>
                    $(".show-tooltip").on("click", function (event) {
                        console.log("I got move");
                        $(".tooltip-form").fadeIn()

                    })
                    $('.close-tooltip').on('click', function () {
                        $(".tooltip-form").fadeOut();
                    });
                </script>
            </div>
        </div>
    </div>