<div id="subject-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-0 header head">
                <h1>{ Time For a Sharp Interview }</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-0 header phead">
                <p>{number} <span>Front End</span>, <span>Back End</span> and <span>Problem Solving</span>
                    Questions</p>
            </div>
        </div>

        <div class="row subject-box-inner">
            <div class="col-md-4 col-sm-12">
                <form class="header-form" action="/subjects/front-end" method="GET">
                    <input onclick="" class="header-form-input front-end-input" type="submit"
                        value="Front End Questions">
                </form>
            </div>
            <div class="col-md-4  col-sm-12">
                <form class="header-form" action="/subjects/back-end" method="GET">
                    <input class="header-form-input back-end-input" type="submit" value="Back End Questions">
                </form>
            </div>
            <div class="col-md-4  col-sm-12">
                <form class="header-form" action="">
                    <input class="header-form-input problem-solving-input" type="submit"
                        value="Problem Solving Questions">
                </form>
            </div>
            <div style="border:1px solid gray;box-shadow: lightgray;border-radius: 5px;"
                class="col-md-12 subject-chip-container">

                <% subjects.forEach(subj =>{ %>
                <!-- <div class="subject-chip-box">
                    <p class="subject-chip"><span><%= subj.name %></span></p>
                </div> -->
                <form class="subject-chip-box" action="/questions/<%=subj.name %>" method="GET">
                    <input class="subject-chip" type="submit" value="<%= subj.name %>">
                </form>
                <%})%>
                <!-- TOOLTIP -->
                <!-- referenced from  https://stackoverflow.com/questions/39362353/how-to-make-a-rich-tooltip-with-a-html-form-in-it -->
                <div style="margin: 0;">
                    <p class="show-tooltip">+
                    </p>
                    <div class="tooltip-form">
                        <span class="close-tooltip">X</span>
                        <h3>Add More Technology</h3>
                        <p>Please fill the fields
                        </p>
                        <form style="display: flex;flex-direction: column;" action="/subjects" method="POST">
                            <input name="name" type="text" placeholder="tech name" />
                            <input name="area" type="text" placeholder="tech area" />
                            <input style="background-color: lightgray; border-radius: 5px;" type="submit" value="Add" />
                        </form>
                    </div>
                </div>
                <script>
                    $(".show-tooltip").on("mouseover", function (event) {
                        console.log("I got move");
                        $(".tooltip-form").fadeIn()

                    })
                    $('.close-tooltip').on('click', function () {
                        $(".tooltip-form").fadeOut();
                    });
                </script>
            </div>
        </div>
    </div>