<div id="subject-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-0 header head">
                <h1>{ Time For a Sharp Interview }</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-0 header phead">
                <p>{number} <span>Front End</span>, <span>Back End</span> and <span>Problem Solving</span>
                    Questions</p>
            </div>
        </div>

        <div class="row subject-box-inner">
            <div class="col-md-4 col-sm-12">
                <form class="header-form" action="/subjects/front-end" method="GET">
                    <input onclick="" class="header-form-input front-end-input" type="submit"
                        value="Front End Questions">
                </form>
            </div>
            <div class="col-md-4  col-sm-12">
                <form class="header-form" action="/subjects/back-end" method="GET">
                    <input class="header-form-input back-end-input" type="submit" value="Back End Questions">
                </form>
            </div>
            <div class="col-md-4  col-sm-12">
                <form class="header-form" action="">
                    <input class="header-form-input problem-solving-input" type="submit"
                        value="Problem Solving Questions">
                </form>
            </div>
            <div style="border:1px solid red;" class="col-md-12">

                <% subjects.forEach(subj =>{ %>
                <div class="subject-chip">
                    <h1><%= subj.name %></h1>
                </div>
                <%})%>
            </div>

        </div>

    </div>
</div>