/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Syne Mono', monospace;

*/

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    background: rgb(193,190,190);
    background: linear-gradient(5deg, rgba(193,190,190,1) 16%, rgba(227,226,226,1) 62%, rgba(236,236,236,1) 80%);
    cursor: pointer;
}
/* navbar */

.navbar-brand{
    margin-left: 70px;
}

img{
    width: 70px;
    height: 70px;
}

.collapse{
    margin-right: 70px;
}

/* subject box */
#subject-box{
   
    position: relative;
    margin: 150px auto 150px auto;
    text-align: center;
}

.header{
    margin: 20px auto;
}

.head{
    font-family: 'Syne Mono', monospace;
    font-weight: 900;
}

span{
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 65%,#FA5 0);
}




/* subject-box header form */
.subject-box-inner{
    margin: 10px auto 10px auto;
    width: 80%;
    height: 300px;
    background-color: #F9F7F7
}


form .header-form{
    background-color: blue;
    border: none;
   
    
}
.header-form-input{
    background-color: #FA5;
    border-radius: 5px;
    border: none;
    font-family: 'Syne Mono', monospace;

}

.header-form-input:focus{
    background-color:#FA5;
}


/* subjec chip */
.subject-chip-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.subject-chip-box{
    margin-right: 66px;
    background-color: lightgrey;
    border-radius: 5px;
    width:fit-content;
    height: fit-content;
}

.subject-chip{
    border: none;
    border-radius: 5px;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.63) 65%,#FA5 0);
}




/* collapsible  */
/* referenced from https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible { 
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #F9F7F7;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #F9F7F7;
  }

  /* question box */

  .question-box{
    position: relative;
    margin: 150px auto 150px auto;
    text-align: center;
  }



  .question-chip-container{
      margin: 0;
  }

  .question-chip-list{
     background-color: transparent;
     height: fit-content;
     margin-right: 0;
     margin-bottom: 0;
 }

 .source{
     width: 20px;
     height: 10px;
 }



 /* tooltip */
.show-tooltip{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 70px;
    color: #FA5;
    margin-bottom: 0;
}

 .tooltip-form {
    width:300px;
    height: 300px;
    position:absolute;
    display:none;
    background-color:#FA5;
    color:white;
    border: 1px solid #FA5;
    padding:10px 15px;
    box-shadow: 0px 3px 2px #8D8D8D;
    border-radius: 6px;
}
.close-tooltip{
  right: 15px;
  position: absolute;
  background: #fff;
  color: #555;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  font-size: 10px;
  cursor:pointer;
}


.add-tech-button{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 100px;
    color: black;
    margin: 0;
}