/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Syne Mono', monospace;

*/

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  background: rgb(193, 190, 190);
  background: linear-gradient(
    5deg,
    rgba(193, 190, 190, 1) 16%,
    rgba(227, 226, 226, 1) 62%,
    rgba(236, 236, 236, 1) 80%
  );
  cursor: pointer;
}
/* navbar */

.navbar-brand {
  margin-left: 70px;
}

img {
  width: 70px;
  height: 70px;
}

.collapse {
  margin-right: 70px;
}

.greeting:hover {
  color: #fa5;
}

/* subject box */
#subject-box {
  position: relative;
  margin: 150px auto 150px auto;
  text-align: center;
}

.header-form {
  font-size: larger;
  margin-top: 0;
  margin-right: 80px;
}

.header {
  margin: 20px auto;
}

.head {
  font-family: "Syne Mono", monospace;
  font-weight: 900;
}
.header h1 {
  font-size: 3rem;
}

span {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #fa5 0);
}

/* subject-box header form */
.subject-box-inner {
  margin: 10px auto 10px auto;
  width: 80%;
  height: 300px;
  background-color: #f9f7f7;
}

form .header-form {
  background-color: blue;
  border: none;
}
.header-form-input {
  background-color: #fa5;
  border-radius: 5px;
  border: none;
  font-family: "Syne Mono", monospace;
}

.header-form-input:focus {
  background-color: #fa5;
}

/* subjec chip */
.subject-chip-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.subject-chip-box {
  margin-top: 10px;
  margin-right: 60px;
  background-color: lightgrey;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.subject-chip {
  border: none;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 65%, #fa5 0);
}

/* collapsible  */
/* referenced from https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #f9f7f7;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f9f7f7;
}

/* question box */

.question-box {
  position: relative;
  margin: 150px auto 150px auto;
  text-align: center;
}

.question-chip-container {
  margin: 0;
}

.question-chip-list {
  background-color: transparent;
  height: fit-content;
  margin-right: 0;
  margin-bottom: 0;
  box-shadow: 100px;
}

.source {
  width: 20px;
  height: 10px;
}

/* question delete and edit button */
.question-edit-button a,
.question-delete-button a {
  background-color: #fa5;
  color: black;
  font-weight: lighter;
  text-decoration: node;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px black solid;
}

/* tooltip form */
.show-tooltip {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 70px;
  color: #fa5;
  margin-bottom: 0;
}

.tooltip-form {
  width: 300px;
  height: 300px;
  position: absolute;
  display: none;
  background-color: #fa5;
  color: white;
  border: 1px solid #fa5;
  padding: 10px 15px;
  box-shadow: 0px 3px 2px #8d8d8d;
  border-radius: 6px;
}
.close-tooltip {
  right: 15px;
  position: absolute;
  left: 5px;
  top: 5px;
  background: #fff;
  color: #555;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  font-size: 10px;
  cursor: pointer;
}

.add-tech-button {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 100px;
  color: black;
  margin: 0;
}

/* quiz-items */
#quiz-subject-items {
  /* width: 100%;
    height: 400px;
    flex: 2;
    display: flex;
    align-items: flex-start;
    flex-flow:column wrap; */
}
.quiz-chip-box {
  width: 100%;
  height: 200px;
  flex: 2;
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
}

input[type="checkbox"] {
  background: #3d404e;
  border: #7f83a2 1px solid;
}

/* flipcard /////////////////////// */
/* <!--referenced from: https://www.youtube.com/watch?v=OV8MVmtgmoY  --> */

.maincontainer {
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.card-rotate {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fa5;
  color: #000;
  text-align: center;
}

.theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  background: white;
  backface-visibility: hidden;
  overflow: hidden;
  color: #333;
  text-align: center;
  height: fit-content;
  transform: rotateY(180deg);
}

.thefront h1,
.theback h1 {
  font-family: sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.thefront p,
.theback p {
  font-family: sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

.article-container {
  width: 70%;
  margin: 40px auto;
}

/* footer */
/* .footer-container{
   transform: translateY(60px);
} */

.footer-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #fa5;
}
.footer-inner p {
  transform: translate(25px, 17px);
}
.footer-inner p:hover {
  color: white;
}

.social li {
  list-style: none;
  display: inline;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  margin-top: 10px;
}

.social i {
  font-size: 17px;
  color: white;
}

.social i:hover {
  color: black;
}

.initial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fa5;
  border-radius: 50%;
}

/*  */
@media all and (max-width: 375px) {
  .article-header {
    margin-top: 200px;
  }
}
