<%- include("../partials/header.ejs") %>

<%- include("../partials/navbar.ejs") %>


<div>
    <div class="maincontainer">

        <div class="thecard">

            <div class="thefront">
                <h1>Front of Card</h1>
                <p>This is the front of the card. It contains important information. Please see overleaf for more
                    details.</p>
                <button type="button" class="btn btn-secondary thefront-show">flip</button>
            </div>

            <div class="theback">
                <h1>Back of Card</h1>
                <p>Your use of this site is subject to the terms and conditions governing this and all transactions.</p>
                <button type="button" class="btn btn-secondary thefront-show">new card</button>
            </div>
        </div>
    </div>
</div>


<%- include("../partials/footer.ejs") %>