<%- include("../partials/header.ejs") %>

<%- include("../partials/navbar.ejs") %>

<div>

</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<%- include("../partials/footer.ejs") %>

<!-- 
    add cards component here and make card flipping effects with it and pick a random question one by one
 -->