<%- include("../partials/header.ejs") %>

<%- include("../partials/navbar.ejs") %>

<div style="margin-top:100px" class="container">
    <div class="row">
        <div class="col-sm">
            <% subs.forEach(s =>{ %>
            <form class="subject-chip-box">
                <input id="subject-chip-box" class="subject-chip" type="button" value="<%= s.name %>">
            </form>
            <%})%>
        </div>
    </div>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<%- include("../partials/footer.ejs") %>