<%- include("../partials/header.ejs") %>

<%- include("../partials/navbar.ejs") %>


<form style="margin-top: 200px;margin-left: 30px;width: 400px;" action="/sessions" method="POST">
  <p>For access to questions plase sign-in!</p>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input autocomplete="off" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input autocomplete="off" name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <small style="display: block;margin-top: 20px;">Are you new around here? Please<a href="/users/new">Sign-Up</a></small>
  </form>
  
  <br><br><br><br><br><br>

  <%- include("../partials/footer.ejs") %>